doctype html
html
  head
    meta(charset="UTF-8")
    title Ersen Sari - Portfolio
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css")
    link(rel="stylesheet" href="styles/main.css")
  body
    .container
      .timeline
        header
          img.avatar(src="images/ersen.png" alt="Avatar")
          h1.title ERSEN SARI

        .swiper-container
          .swiper-wrapper
            .swiper-slide(data-year="about")
              .swiper-slide-content
                span.timeline-year &nbsp;
                h4.timeline-title About Me
                p.timeline-text
                  | Welcome to my professional portfolio. I am Ersen Sari, an experienced software engineer
                  | specializing in designing and implementing scalable solutions for technology enhancements. Skilled in
                  | collaborating with cross-functional teams, troubleshooting complex issues, and driving innovation within
                  | the Stores Technology landscape. Familiar with AWS and knowledgeable in emerging technologies and
                  | industry best practices. Passionate about improving system performance and contributing to the success
                  | of digital initiatives.
                p.timeline-text
                  | My journey began with an Associate's Degree in Computer Programming from Aegean University, where a
                  | network-based application to control computers and a web-based appointment system for hospitals were
                  | developed as part of my coursework. Additionally, a Diploma Degree in Computer Systems & Technologies
                  | was obtained from Associate Technical College, with applications such as a local system for the state
                  | land registry office to track title deeds and prevent duplicate payments being developed.

            .swiper-slide(data-year="2023")
              .swiper-slide-content
                span.timeline-year 2023
                h4.timeline-title Kmart Innovation Team - Melbourne
                p.timeline-text
                  | Currently, part of the KMart Innovation Team involves developing prototypes and Proof of Concept (POC)
                  | applications for new projects. Utilizing React, TypeScript, and Node.js, RFID technology-related
                  | prototypes are set up, making innovation ideas functional and testing their feasibility. Integrated
                  | solutions with RFID readers using IoT connections are developed, actively participating in the
                  | development of new ideas, and improving existing processes. Technical support is provided to team
                  | members and other departments, and training on new technologies is conducted.
                p.timeline-text JAN 2023 - PRESENT

            .swiper-slide(data-year="2022")
              .swiper-slide-content
                span.timeline-year 2022
                h4.timeline-title Willed Pty Ltd Melbourne
                p.timeline-text
                  | At Willed Pty Ltd, full-stack applications were developed using Vue.js, TypeScript, JavaScript,
                  | Firebase, GCP Functions, HTML, SCSS, SSR, SSG, GraphQL, and RestAPI. Functionality was added to web
                  | applications developed using ZOHO CRM API, XERO Invoice API, and various Google Services, ensuring the
                  | company's web platform was dynamic, functional, and user-friendly.
                p.timeline-text FEB 2022 - DEC 2022

            .swiper-slide(data-year="2021")
              .swiper-slide-content
                span.timeline-year 2021
                h4.timeline-title Tesla Control Systems Turkey
                p.timeline-text
                  | At Tesla Control Systems, full-stack applications were developed utilizing Electron, Vue.js, and
                  | Node.js. Integrations between PLC equipment for operational environments and Siemens WinCC SCADA systems
                  | were built. IoT applications were led, increasing productivity in the manufacturing process for
                  | companies like Saint Gobain Weber.
                p.timeline-text MAY 2021 - JAN 2022

            .swiper-slide(data-year="2014")
              .swiper-slide-content
                span.timeline-year 2014
                h4.timeline-title Katip Celebi University Turkey
                p.timeline-text
                  | At Katip Celebi University, the role involved leading the development of the university's information
                  | management system. Applications were modernized using .Net Framework, C#, MVC, Razor, and jQuery. UI/UX
                  | and Engineering teams were managed using Agile methodologies, working closely with internal stakeholders
                  | and customers to incorporate their requirements into operational web applications. Presentations and
                  | training sessions for models were conducted, ensuring seamless adoption and effective use of new
                  | systems.
                p.timeline-text DEC 2014 - MAY 2021

            .swiper-slide(data-year="2011")
              .swiper-slide-content
                span.timeline-year 2011
                h4.timeline-title PI Automation & Control Systems Turkey
                p.timeline-text
                  | During the tenure at PI Automation & Control Systems, supervisory control and data acquisition (SCADA)
                  | applications were analyzed and developed for industrial automation using OPC foundation server, WCF
                  | Services, Winforms (C#), ASP.NET (C#), Modbus TCP Protocol, Silverlight, jQuery, MVC, and SQL. Solutions
                  | enabling multithreading of the OPC foundation server were delivered, allowing for energy trend data
                  | analysis and reporting, which facilitated insightful decision-making for various sectors such as cement
                  | and energy plants.
                p.timeline-text MAR 2011 - NOV 2014

            .swiper-slide(data-year="2010")
              .swiper-slide-content
                span.timeline-year 2010
                h4.timeline-title Kion IT - Turkey
                p.timeline-text
                  | At Kion IT Turkey, efforts were focused on analyzing and developing e-learning applications for
                  | universities using ASP.NET (C#), HTML, JavaScript, jQuery, DEVExpress UI & ORM, and MSSQL. The old file
                  | system was converted to TFS Source Control, and functionality for work-item tracking was added,
                  | significantly improving team collaboration and efficiency.
                p.timeline-text MAR 2010 - SEP 2011

            .swiper-slide(data-year="contact")
              .swiper-slide-content
                span.timeline-year &nbsp;
                h1.timeline-title Contact me
                p.timeline-text
                  | Email: 
                  a(href="mailto:ersensari@gmail.com") ersensari@gmail.com
                p.timeline-text
                  | Email: 
                  a(href="mailto:info@ersensari.com") info@ersensari.com
                p.timeline-text
                  | LinkedIn: 
                  a(href="https://www.linkedin.com/in/ersensari" target="_blank") LinkedIn Profile

          .swiper-button-prev
          .swiper-button-next
          .swiper-pagination

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js")
    script(src="scripts/main.js")