body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background: url('melbourne.webp') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.header-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 4em;
    margin: 0;
}

header p {
    font-size: 1.5em;
    margin-top: 0.5em;
}

#about {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #1e1e1e;
}

#about img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

.about-content h2 {
    margin-top: 0;
}

.about-content p {
    margin: 10px 0;
}

#skills, #experience, #contact {
    padding: 50px;
    background-color: #1a1a1a;
}

#skills h2, #experience h2, #contact h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    background-color: #333333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.timeline {
    border-left: 2px solid #ffffff;
    padding-left: 20px;
    margin-top: 20px;
}

.timeline-item {
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
}

.timeline-item::before {
    content: "";
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: 5px;
  }

.timeline-item h3 {
margin-top: 0;
}

#contact a {
color: #1e90ff;
text-decoration: none;
}
